name: Busted

on: [ push, pull_request ]

jobs:

  busted:
    strategy:
      fail-fast: false
      matrix:
        luaVersion: [ "5.4", "5.3", "5.2", "5.1", "luajit" ] # , "luajit-openresty"
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup ‘lua’
        uses: leafo/gh-actions-lua@v10
        with:
          luaVersion: ${{ matrix.luaVersion }}

      - name: Setup ‘luarocks’
        uses: leafo/gh-actions-luarocks@v4

      - name: Setup test dependencies
        run: |
          luarocks install --deps-only lua_cliargs-dev-1.rockspec
          luarocks install busted
          luarocks install dkjson
          luarocks install inifile
          luarocks install yaml

      - name: Replace system cliargs with self
        run: |
          luarocks remove --force lua_cliargs
          luarocks make

      - name: Run regression tests
        # disable project-local path prefixes to force use of system installation
        run: busted -v --lpath="" --cpath="" -Xoutput --color
